<!-- you simply refer to this template within 
Django as polls/index.html because of how the  -->


{% extends "base.html" %} 
{% block title %} Runners {% endblock %}

{% block content %}

{% if all_runners %} 
<ul> 
  {% for runner in all_runners %} 
  <li>
   <a href= {% url 'polls:runDetail' runner.id %}>
    {{runner.name}}
    </br>
   </a>
    <p> total runs: {{runner.run_set.count }} </p>
  </li> 
  {%endfor %}
</ul>
{%else %}
<p> no runners signed up yet </p>
{% endif %}
{% endblock %}



